.parent {
    width: 100%;
    color: red;
    font-color: red; 
}


.rotate{
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.rotate.down{
    transform:rotate(0deg);
}