.parent {
    width: 100%;
    color: red;
    font-color: red; 
}


.rotate{
    transform: rotate(90deg);
    transition: transform 0.2s ease-in-out;
}

.rotate.down{
    transform: rotate(90deg);
    transition: transform 0.2s ease-in-out;
}
